

<div class="container">
<table class="table table-hover">
  <thead>
    <tr>
      <th>Event</th>
      <th>Date</th>
      <th>Place</th>
    </tr>
  </thead>

    <div id="button_form">
      <form action="events/new">
        <input class="btn btn-link btn-lg" type="submit" value="Add a new event">
      </form>
    </div>

<div class="event-list">
  <% @events.each do |event| %>
  <tbody>
  <tr>
    <td> <%= link_to event.event, event_path(event) %></td>
    <td> <%= event.date %></td>
    <td> <%= event.place %></td>
    <% end %>
  </tr>
  <tr>
  </table>
</div>
