
<div id="add">
  <form action="events/new">
    <input type="submit" value="Add an event" />
  </form>
</div>

 <div id="events">
  <% @events.each do |event| %>
  <%= link_to event.event, event_path(event) %>
  <%= event.date %>
  <%= event.place %>
  <br />
  <% end %>
</div>
