// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#add {
  position: absolute;
  z-index:9999;
  top:  30%;
  left: 48%;
}

#events {
  color: black;
  font-size: 22px;
  position: absolute;
  top:  34%;
  left: 43%;
}

.new {
  position: absolute;
  top:  37%;
  left: 34%;
}

.show {
  color: hotpink;
  position: absolute;
  top:  9%;
  left: 20%;
  font-size: 32px;
}

.edit {
  position: absolute;
  top:  37%;
  left: 34%;
}

body {
  background-color: beige
}

.image {
  position: absolute;
  top:  37%;
  left: 100%;
}

a {
  color: hotpink;
  text-decoration: none;
}

a:hover {
  color: black;
}


.comments {
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 18px;
    color: blue;
}


.titles {
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 24px;
    color: black;
}

.attendees {
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 18px;
  color: green;
}
