// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.img-rounded {
  opacity: 0.7;
}

#new-back {
  font-weight: bold;
  font-style: italic;
  position: absolute;
  top: 0;
  left: 0;
  margin: 52px;
}

.show-body {
  margin-left: 10px;
  margin-top: 28px;
  color: #E75480;
  max-width: 440px;
  border-radius: 0;
}

#event-name {
  margin-left: 20px;
  font-weight: bold;
  font-style: italic;
}

#event-titles {
  display: inline;
  font-weight: bold;
  font-style: italic;
}

#nit {
  display: inline-block;
  color: grey;
  padding: 5px;
}

#lnkz {
  font-size: 20px;
  font-weight: bold;
}

.comments-show-body {
  margin-left: 10px,
}

.form-group {
  color: #337ab7;
  position:fixed;
  top:40%;
  left:30%;
  width:1900px;
}

.new-add {
  font-size: 20px;
  color: #E75480;
  position:fixed;
  top:34%;
  left:43%;
}

.comments {
  display: inline-block;
}

a {
  font-weight: bold;
}
