// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#add {
  position: absolute;
  z-index:9999;
  top:  30%;
  left: 50%;
}

#events {
  color: red;
  font-size: 22px;
  position: absolute;
  top:  31%;
  left: 43%;
}

.new {
  position: absolute;
  top:  37%;
  left: 34%;
}

.show {
  color: DARKSALMON;
  position: absolute;
  top:  27%;
  left: 34%;
  font-size: 44px;
}
body {
  background-color: beige
}
